* {
  font-family: Arial, Helvetica, sans-serif;
}  


div {
  width: fit-content;
  padding: 10px;
  margin-left: 30%;
 
}
.bg_img{
    background-image: url(8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.heading {
  color: blueviolet;
}

fieldset {
  border-color: blueviolet;
  
}

#submit {
  text-align: center;
  margin-left: 40%;
  background-color: aqua;
  border-radius: 5px;
}
input{
    border-color: blueviolet;
    border-radius: 5px;
    background-color: aliceblue;
    
}
::placeholder{
    opacity: 50%;
}
label{
   color: aliceblue;
    display: inline-block;
}
